<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-center">

<title>Password Generator</title>
<h1>Password Generator</h1>

<a href="{% url 'about' %}">About Password Generator</a>

<form action="{% url 'password' %}">
    <br>
    <select name="length">
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12" selected='selected'>12</option>
        <option value="15">15</option>
        <option value="25">25</option>
    </select> Length
    <br>
    <br>
    <input type="checkbox" name="uppercase"> Uppercase
    <br>
    <input type="checkbox" name="numbers"> Numbers
    <br>
    <input type="checkbox" name="special"> Special Characters
    <br>
    <br>
    <input type="submit" value="Generate Password" class="btn btn-primary">
</form>

</div>